body{
    background-color: black;
}
.kutular{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.kutu{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    color: white;
    font-size: 60px;
    line-height: 300px;
    text-align: center;
    margin: 20px;
}
.kutu1{
    background-color: brown;
}
.kutu2{
    background-color: cadetblue;
}
.kutu3{
    background-color: crimson;
}